* {
	box-sizing: border-box;
}
body::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body {
    background-color: #141414;
    color: #EAEFF2;
    transition: all ease-in-out 0.3s;
}
body.light-theme {
	background-color: #EAEFF2;
    color: #141414;
}
.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}
.main h1 {
    display:inline-flex;
}
.text {
    font-size: 7vw;
}
.underscore {
    color: #900C3F;
    font-size: 7vw;
    animation: blinker .4s step-end infinite alternate;
}
@keyframes blinker {
    50% {opacity: 0;}
}
.toggle {
	position: -webkit-sticky;
	position: sticky; 
	z-index: 10;
	top: 10px;
}
.toggle input[type=checkbox] {
	display: none;
}
.toggle label {
	background-color: #2B2B2B;
	border: 2px solid #EAEFF2;
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: all ease-in-out 0.3s;
	width: 88px; /* 2*x + 2*2 */
	height: 46px; /* x + 2*2 */
}
.toggle label::after {
	background-color: #900C3F;
	content: ' ';
	cursor: pointer;
	display: inline-block;
	position: absolute;
	transition: all ease-in-out 0.3s;
	width: 42px; /* x */
	height: 42px; /* x */
}
.toggle input[type=checkbox]:checked ~ label { /* light mode*/
	background-color: #EAEFF2;
	border-color: #141414;
}
.toggle input[type=checkbox]:checked ~ label::after {
	background-color: #900C3F;
	transform: translateX(42px); /* x */
}
.hidden {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 1s;
}
.show {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
}
.section {
	min-height: 100vh;
	display: grid;
	align-items: center;
	place-items: center;
}
/* .logos {
	display: flex;
	flex-direction: row;
	min-height: 100vh;
	width: 75%;
	margin: 0 auto;
	justify-content: space-around;
	align-items: center;
}
.logo img {
	height: 10vh;
	width: 10vh;
}
.logo:nth-child(2) {
	transition-delay: 150ms;
}
.logo:nth-child(3) {
	transition-delay: 300ms;
}
.logo:nth-child(4) {
	transition-delay: 450ms;
}
.logo:nth-child(5) {
	transition-delay: 600ms;
} */