body::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body {
    background-color: #141414;
    color: #EAEFF2;
}
#colourToggle {
    background-color: #900C3F;
    border: none;
    border-radius: 3px;
    color: #EAEFF2;
    padding: 4px;
}
.lightMode {
    background-color: #EAEFF2;
    color: #141414;
}
.main {
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}
.text {
    font-size: 7vw; /* 5em*/
}
.underscore {
    color: #900C3F;
    font-size: 7vw; /* 5em*/
    animation: blinker .4s step-end infinite alternate;
}
@keyframes blinker {
    50% {opacity: 0;}
}