* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.container {
    width: 100%;
    min-height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box_1, #box_2, #box_3, #box_4, #box_5 {
    width: 300px;
    min-height: 300px;
    margin: 20px;
    border: 2px solid black;
}

.createButton {
    background-color: maroon;
    color: white;
    font-size: large;
    border: none;
    border-radius: 50%;
    padding: 5px 10px;
    display: block;
    margin: 10px auto 5px 10px;
}

.list_item {
    background-color: maroon;
    height: 60px;
    margin: 30px;
    color: white;
    display: flex;
    align-items: center;
    cursor: grab;
}

.list_item p {
    width: fit-content;
    font-weight: bold;
    margin-right: 15px;
    margin-left: 20px;
}

.delButt {
    margin: 0 15px 0 auto;
    background-color: white;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    padding: 5px 9px;
}